@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3pc3pw');
  src:  url('fonts/icomoon.eot?3pc3pw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3pc3pw') format('truetype'),
    url('fonts/icomoon.woff?3pc3pw') format('woff'),
    url('fonts/icomoon.svg?3pc3pw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e5c4";
}
.icon-forward:before {
  content: "\e5c8";
}
.icon-brush:before {
  content: "\e3ae";
}
.icon-blog:before {
  content: "\e254";
}
.icon-docs:before {
  content: "\e2c8";
}
.icon-me:before {
  content: "\e7fd";
}
.icon-cogs:before {
  content: "\e8b8";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-copyright:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e88a";
}
.icon-arrow-down:before {
  content: "\e313";
}
.icon-arrow-left:before {
  content: "\e314";
}
.icon-arrow-right:before {
  content: "\e315";
}
.icon-arrow-up:before {
  content: "\e316";
}
.icon-label:before {
  content: "\e893";
}
.icon-language:before {
  content: "\e894";
}
.icon-open:before {
  content: "\e89e";
}
.icon-lightbulb:before {
  content: "\e90f";
}
.icon-github:before {
  content: "\f09b";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-steam:before {
  content: "\f1b6";
}
.icon-soundcloud:before {
  content: "\f1be";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-lastfm:before {
  content: "\f202";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-gitlab:before {
  content: "\f296";
}

