.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
    

.archive
  box-shadow 1px 2px 3px color-border
  border-bottom 1px solid color-border
  margin-bottom 50px
  article
    box-shadow none
    .post-content
      margin-bottom 0
