#comment
  padding 20px
  background #fff
  box-shadow 1px 2px 4px #bbb
  margin-bottom 50px

  @media screen and (max-width: 600px)
    margin 0 4px 40px

  .title
    font-weight normal
    margin-bottom 15px
