#footer
  width 100%
  position absolute
  bottom 0
  left 0
  margin 0
  padding 20px 0
  background #383838
  color color-gray-text
  font 0.9em/1.6 font-title
  text-align center
  box-shadow inset 0 2px 4px #333

  .left
    line-height 55px
    vertical-align middle
  .left, .right
    padding 0 10px

  .flat-list
    font-size 2em
    a
      text-decoration none
      display block
      color color-gray-text
      border-radius 50%
      &:hover
        background rgba(#000, 0.5)
    i
      padding 15px
      width 25px
      height 25px
      display block
