.generator
  width 100%
  position relative

  .block
    width 33%
    float left
    .btn
      margin-top 10px

  .block-big
    width: 66%

  .block, .block-big
    @media screen and (max-width: 600px)
      width 100%
      float none
      margin 8px 0

  .block-full
    .inp
      width 100%
      box-sizing border-box

  .with-blocks
    label, .inp
      display block
    .inp
      margin-bottom 10px


  .output
    margin 20px 0 50px

  .output-line
    margin 0 0 60px
    font-size 1.4em
    letter-spacing 0.2px

    .val
      display inline-block
      margin-right 44px
