#header
  width 100%
  margin 0 0 50px
  background #383838
  color color-gray-text
  box-shadow inset 0 -2px 4px #333
  @media screen and (max-width: 600px)
    margin-bottom 30px

  &:before
    width 100%
    content ''
    display block
    position absolute
    z-index 0
    border-top 4px solid #666
  a
    &:hover
      text-decoration none


.main-nav
  font-family font-title
  position relative
  z-index 9
  ul
    list-style none
  li
    float left
    margin 0
    padding 0
    &:nth-child(3) a,
    &:nth-child(4) a
      @media screen and (max-width: 356px)
        padding 16px 9px 20px
  i
    width 15px
    display inline-block
  a
    padding 16px 32px 20px
    line-height 21px
    display block
    color color-gray-text
    border-top 4px solid #aaa
    @media screen and (max-width: 900px)
      padding 16px 30px 20px
    @media screen and (max-width: 600px)
      padding 16px 26px 20px
    @media screen and (max-width: 470px)
      padding 16px 18px 20px
    @media screen and (max-width: 388px)
      padding 16px 15px 20px
    @media screen and (max-width: 356px)
      padding 16px 13px 20px
    @media screen and (max-width: 321px)
      padding 16px 11px 20px
    @media screen and (min-width: 901px)
      letter-spacing 0.4px

    &.blog
      border-color color-link
    &.dokumenty
      border-color #2e63cb
    &.generatory
      border-color #d4b73f
    &.ja
      border-color #248b2b

    &.active
      background rgba(#000, 0.3)
    &:hover
      background rgba(#000, 0.5)
