#pagination
  a
    display block
    padding 5px 10px
    background color-border
    color color-meta
    font-family font-title
    text-shadow 0 0 1px #fff
    margin-bottom 50px
    &:hover
      background color-link
      color #fff
      text-decoration none
      text-shadow none

  .prev:before, .next:after
    font-family 'icomoon'
    position relative
    top 1px

  .prev
    &:before
      content '\e5c4'
      padding-right 8px

  .next
    &:after
      content '\e5c8'
      padding-left 8px
