label
  padding 2px 4px
  display inline-block

.inp
  padding 8px
  border 1px solid #383838


.btn
  padding 15px 30px
  color color-gray-text
  font-size 1em
  border none
  outline none
  border-radius 0
  background #383838
  box-shadow inset 0 -2px 4px #333

  &:hover
    text-decoration none
    background #222
