<%- partial('layout_top') %>

<% page.posts.each(function(item){ %>
  <%- partial('_partial/article', {item: item, index: true, comments: false }) %>
<% }); %>

<%- partial('_partial/pagination') %>

<%- partial('layout_bottom') %>
