<%- partial('layout_top') %>

<article class="<%= page.layout %>">
  <div class="post-content">
    <header>
      <%- partial('_partial/post/title', {item: page, index: false}) %>
    </header>
    <div class="entry">

      <%- page.content %>

      <% if (site.data.slides) {%>
        <div class="widget-wrap">
          <h3 class="widget-title"><%= __('slides') %>: </h3>
          <div class="widget">
            <ul class="numbered-list">
              <% for (item in site.data.slides) { %>
                <% var slide = site.data.slides[item]; %>
                <li>
                  <a href="<%= config.url %>/dokumenty/<%= slide.dir %>" title="<%= slide.description %>">
                    <%= slide.title %>
                  </a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      <% } %>

      <% if (site.data.pdfs) {%>
        <div class="widget-wrap">
          <h3 class="widget-title"><%= __('pdf') %>: </h3>
          <div class="widget">
            <ul class="numbered-list">
              <% for (item in site.data.pdfs) { %>
                <% var pdf = site.data.pdfs[item]; %>
                <li>
                  <a href="<%= config.url %>/dokumenty/<%= pdf.file %>" title="<%= pdf.description %>">
                    <%= pdf.title %>
                  </a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      <% } %>

      <footer>
        <%- partial('_partial/post/share') %>
        <div class="clearfix"></div>
      </footer>

    </div>
  </div>
</article>

<%- partial('_partial/comment', {page: page}) %>

<%- partial('layout_bottom') %>
