<%- partial('layout_top') %>

<article class="<%= page.layout %>">
  <div class="post-content">
    <header>
      <%- partial('_partial/post/title', {item: page, index: false}) %>
    </header>
    <div class="entry">

      <%- page.content %>

      <% if (site.data.generators) {%>

        <% for (item in site.data.generators) { %>
          <% var gen = site.data.generators[item]; %>
          <h3 style="margin-top:20px">
            <a href="<%= config.url %>/generatory/<%= gen.dir %>">
              <%= gen.title %>
            </a>
          </h3>
        <% } %>

      <% } %>

      <br><br>

    </div>

    <footer>
      <%- partial('_partial/post/share') %>
      <div class="clearfix"></div>
    </footer>

  </div>
</article>

<%- partial('layout_bottom') %>
