<%- partial('layout_top') %>

<article class="<%= page.layout %>">
  <div class="post-content">
    <header>
      <%- partial('_partial/post/title', {item: page, index: false}) %>
    </header>
    <div class="entry">

        <%- page.content %>

    </div>

    <footer>
      <%- partial('_partial/post/share') %>
      <div class="clearfix"></div>
    </footer>

  </div>
</article>

<%- partial('_partial/comment', {page: page}) %>

<%- partial('layout_bottom') %>
