<%- partial('layout_top') %>

<%
  var i = 0;
  page.posts.each(function(item){
    if (item.homepage && i < 3) {
%>
  <%- partial('_partial/article', {item: item, index: true, comments: false }) %>
<%
      i++;
    }
  });
%>

<%- partial('layout_bottom') %>
