
        </div>
      </div>
      <aside id="sidebar" class="right"><%- partial('_partial/sidebar', {page: page }, {cache: false}) %></aside>
      <div class="clearfix"></div>
    </div>

    <%- partial('_partial/footer') %>

    <%- partial('_partial/after_footer') %>

  </div>
</body>
</html>
