<%- partial('_partial/head') %>

<body>
  <div class="main-wrapper">

    <%- partial('_partial/header') %>

    <div id="content" class="inner">
      <div id="main-col" class="left">
        <div id="wrapper">
