<%- partial('layout_top') %>

<article class="<%= page.layout %>">
  <% if (page.photos && page.photos.length){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="post-content">
    <header>
      <% if (page.layout != 'page'){ %>
        <time datetime="<%= page.date.toDate().toISOString() %>">
          <%= page.date.format(config.date_format) %>
        </time>
      <% } %>
      <%- partial('_partial/post/title', {item: page, index: false}) %>
    </header>
    <div class="entry">
      <% if (page.excerpt && index){ %>
        <%- page.excerpt %>
      <% } else { %>
        <%- page.content %>
      <% } %>
    </div>
  </div>
</article>

<%- partial('_partial/comment', {page: page}) %>

<%- partial('layout_bottom') %>
