<!DOCTYPE html>
<html>
<head>
	<title><%= page.title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } %>
	<link rel="stylesheet" href="../../css/reveal/reveal.css">
	<link rel="stylesheet" href="../../css/reveal/theme.css">
	<% if (page.theme){ %>
	<link rel="stylesheet" href="../../css/reveal/colors/<%= page.theme %>.css">
  <% } %>
	<link rel="stylesheet" href="../../css/reveal/zenburn.css">
	<%- partial('_partial/analytics/google') %>
</head>
<body>
	<div class="reveal">
		<div class="slides">
      <%- page.content %>
		</div>
	</div>
	<script src="../../js/reveal/head.min.js"></script>
	<script src="../../js/reveal/reveal.js"></script>
	<script>
		Reveal.initialize({
			controls:true,progress:true,history:true,center:true,transition:'concave',
			dependencies:[
				{ src:'../../js/reveal/plugin/markdown/marked.js' },
				{ src:'../../js/reveal/plugin/markdown/markdown.js' },
				{ src:'../../js/reveal/plugin/notes/notes.js', async:true },
				{ src:'../../js/reveal/plugin/highlight/highlight.js', async:true, callback: function(){ hljs.initHighlightingOnLoad(); } }
			]
		});
	</script>
</body>
</html>
