*
  margin 0
  padding 0

html, body
  height 100%
  margin 0
  padding 0

body
  background url(../img/grid.png)
  color color-font
  font-family font-default
  font-size 14px
  text-shadow 0 0 1px transparent
  @media screen and (max-width: 600px)
    font-size 13px

h1, h2, h3, h4, h5, h6
  font-family font-title

h1
  font-size 1.8em
  line-height 1.8em
  margin-bottom 15px

h2
  font-size 1.5em

h3
  font-size 1.3em

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

hr
  margin 20px 0
  border none
  border-top 1px solid #d0d0d0


.inner
  width page-width
  margin 0 auto
  @media screen and (max-width: 1260px)
    width 98%
  @media screen and (max-width: 600px)
    width 100%

.main-wrapper
  box-sizing border-box
  min-height 100%
  padding 0 0 100px
  position relative

#main-col
  width 900px
  @media screen and (max-width: 1260px)
    width 100%
    margin-right -300px
  @media screen and (max-width: 900px)
    margin-right 0
    float none

#wrapper
  @media screen and (max-width: 1260px)
    margin-right 300px
  @media screen and (max-width: 900px)
    margin-right 0


::selection
  color #333
  background rgba(250, 165, 160, 0.6)
  text-shadow none
