.left
  float left

.right
  float right

.centered
  text-align center

.clearfix
  clearfix()

.fat
  font-weight 700
.fading
  transition 0.4s

a:hover, button:hover
  cursor pointer

.clean-list
  padding 0
  margin 0
  list-style-type none
  a
    padding 2px
    display inline-block

  i
    width 20px
    display inline-block
    text-align center
    margin-right: 10px


.flat-list
  list-style-type none
  li
    display inline-block
