---
title: Emmet Plugin
description: Emmet is a toolkit for web developers and significantly improves HTML and CSS workflow.
layout: slides
theme: green
permalink: dokumenty/emmet-en/
---
<section>
	<img class="plain img-top" src="../../img/slides/logo-emmet.png" alt="" width="160"/>
	<h2>Emmet Plugin</h2>
	<p>The essential web development toolkit<br>for any HTML and CSS editor</p>
	<p></p>
</section>

<section>
	<section>
		<h3>Speed up HTML writing</h3>
		<p><small>Make your workflow faster - generate long HTML structures from a short line of code.</small></p>
		<p>Turn this:</p>
		<pre>
			<code>nav>ul.menu>(li>a{Item $})*3</code>
		</pre>
		<div class="fragment">
			<p>Into this:</p>
			<pre>
				<code><nav>
  <ul class="menu">
    <li><a href="">Item 1</a></li>
    <li><a href="">Item 2</a></li>
    <li><a href="">Item 3</a></li>
  </ul>
</nav></code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Speed up CSS writing</h3>
		<p><small>Emmet uses the shortest shortcuts possible for expanding style rules.</small></p>
		<p>Turn this:</p>
		<pre>
			<code>pb20</code>
		</pre>
		<div class="fragment">
			<p>Into this:</p>
			<pre>
				<code>padding-bottom: 20px;</code>
			</pre>
		</div>
	</section>
	<section data-background="../../img/gifs/awesome.gif"></section>
</section>

<section>
	<h3>How does it work?</h3>
	<p>In HTML, you write a "pattern", something like enriched<br>CSS selector, and press <code>TAB</code> (or <code>Ctrl + E</code>).</p>
	<p class="fragment">We can specify blocks with parentheses.</p>
	<p class="fragment">Learn more about CSS selectors <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors" target="_blank">on MDN</a>.</p>
</section>

<section>
	<section>
		<h3>Classes &amp; IDs</h3>
		<p>We can concatenate multiple classes:</p>
		<pre>
			<code>button.btn.btn-primary</code>
		</pre>
		<div class="fragment next next-close">
			<pre>
				<code><button class="btn btn-primary"></button></code>
			</pre>
		</div>

		<div class="fragment">
			<p>Or combine ID and classes together:</p>
			<pre>
				<code>#main.container</code>
			</pre>
		</div>
		<div class="fragment next next-close">
			<pre>
				<code><div id="main" class="container"></div></code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Children &amp; siblings</h3>
		<p>Child <code>&gt;</code>, sibling <code>+</code>, nicely wrapped in parentheses:</p>
		<pre>
			<code>article.post>(.meta>h1+time)+.content>p</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code><article class="post">
  <div class="meta">
    <h1></h1>
    <time></time>
  </div>
  <div class="content">
    <p></p>
  </div>
</article></code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Multiplication &amp; iterator</h3>
		<p>Multiplication <code>*</code>, the current iterator number is <code>$</code>:</p>
		<pre>
			<code>ul>(li.item-$>a)*5</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code><ul>
  <li class="item-1"><a href=""></a></li>
  <li class="item-2"><a href=""></a></li>
  <li class="item-3"><a href=""></a></li>
  <li class="item-4"><a href=""></a></li>
  <li class="item-5"><a href=""></a></li>
</ul></code>
			</pre>
		</div>
	</section>
</section>

<section>
	<section>
		<h3>Attributes &amp; element content</h3>
		<p>
			Any attributes in square brackets <code>[ ]</code>,<br>
			Tag content in curly brackets <code>{ }</code>.
		</p>
		<pre>
			<code>ul>(li>a[href="#" title="Download"]{Download file $})*5</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code><ul>
  <li><a href="#" title="Download">Download file 1</a></li>
  <li><a href="#" title="Download">Download file 2</a></li>
  <li><a href="#" title="Download">Download file 3</a></li>
  <li><a href="#" title="Download">Download file 4</a></li>
  <li><a href="#" title="Download">Download file 5</a></li>
</ul></code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Climbing up</h3>
		<p>Circumflex symbol <code>^</code> is used for climbing up.</p>
		<p>Explained on the previous example:</p>
		<pre>
			<code>article.post>(.meta>h1+time)+.content>p</code>
		</pre>
		<div class="fragment">
			<p>Is equivalent to:</p>
			<pre>
				<code>article.post>.meta>h1+time^+.content>p</code>
			</pre>
		</div>
	</section>
	<section>
		<h3>All combined together</h3>
		<pre>
			<code>.row>(.col-sm-3>ul>li.active>a{Home}^+(li>a{$})*3)+.col-sm-9>h1+p</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code><div class="row">
  <div class="col-sm-3">
    <ul>
      <li class="active"><a href="">Home</a></li>
      <li><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <h1></h1>
    <p></p>
  </div>
</div></code>
			</pre>
		</div>
	</section>
	<section data-background="../../img/gifs/clap.gif"></section>
</section>

<section>
	<section>
		<h3>Other cool stuff</h3>
		<p>In addition to patterns, we can use other features, such as an exclamation mark:</p>
		<pre>
			<code>!</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  <meta charset="UTF-8">
  <title>Document</title>
&lt;/head&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;</code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Lorem ipsum generator</h3>
		<p>Shortcut <code>lorem</code> generates 30 words of filler text divided into several sentences.</p>
		<p class="fragment">We can also use a number to specify the count,<br>for example <code>lorem126</code> for 126 words.</p>
	</section>
</section>


<section>
	<section>
		<h3>CSS shortcuts</h3>
		<p>Simple examples:</p>
		<pre>
			<code>ff    =>  font-family: ;
fl    =>  float: left;
fr    =>  float: right;
posr  =>  position: relative;
posa  =>  position: absolute;
db    =>  display: block;
ib    =>  display: inline-block;
c     =>  color: #000;
bgc   =>  background-color: #fff;
bgi   =>  background-image: url();
w100  =>  width: 100px;
w75p  =>  width: 75%;</code>
		</pre>
	</section>
	<section>
		<h3>CSS shortcuts</h3>
		<p>More examples, more parameters:</p>
		<pre>
			<code>m20-10   =>  margin: 20px 10px;
m15-a    =>  margin: 15px auto;
m-5--10  =>  margin: -5px -10px;
p2e10p   =>  padding: 2em 10%;
bgc#fea  =>  background-color: #fea;
ovv      =>  overflow: visible;
oh       =>  overflow: hidden;
td       =>  text-decoration: none;
ttu      =>  text-transform: uppercase;
tsh      =>  text-shadow: hoff voff blur #000;
lh2e!    =>  line-height: 2em !important;</code>
		</pre>
	</section>
</section>

<section>
	<p>Useful:</p>
	<p><a href="http://docs.emmet.io/cheat-sheet/" target="_blank">Emmet Cheat Sheet</a></p>
	<p><a href="http://docs.emmet.io/" target="_blank">Emmet Documentation</a></p>
	<p></p>
	<br>
	<h4 class="fragment">The end. Thanks.</h4>
</section>
