---
title: Emmet Plugin
description: Emmet je sada nástrojů pro webové vývojáře a výrazně zlepšuje HTML a CSS workflow.
layout: slides
theme: green
permalink: dokumenty/emmet/
---
<section>
	<img class="plain img-top" src="../../img/slides/logo-emmet.png" alt="" width="160"/>
	<h2>Emmet Plugin</h2>
	<p>Aneb nezbytně nutný doplněk<br>do každého HTML a CSS editoru</p>
	<p><small><a href="http://emper.cz" target="_blank">emper.cz</a></small></p>
</section>

<section>
	<section>
		<h3>Urychlení psaní kódu</h3>
		<p><small>Ulehčete si práci a nechte si dlouhé HTML struktury vygenerovat.</small></p>
		<p>Například z:</p>
		<pre>
			<code>nav>ul.menu>(li>a{Item $})*3</code>
		</pre>
		<div class="fragment">
			<p>Se vygeneruje:</p>
			<pre>
				<code><nav>
  <ul class="menu">
    <li><a href="">Item 1</a></li>
    <li><a href="">Item 2</a></li>
    <li><a href="">Item 3</a></li>
  </ul>
</nav></code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Urychlení psaní stylů</h3>
		<p><small>V CSS souborech se využívají zkratky.</small></p>
		<p>Například z:</p>
		<pre>
			<code>pb20</code>
		</pre>
		<div class="fragment">
			<p>Se vygeneruje:</p>
			<pre>
				<code>padding-bottom: 20px;</code>
			</pre>
		</div>
	</section>
	<section data-background="../../img/gifs/awesome.gif"></section>
</section>

<section>
	<h3>Jak to funguje?</h3>
	<p>Napíšete "vzoreček", tedy něco jako obohacený<br>CSS selektor, a stisknete <code>TAB</code> (nebo <code>Ctrl + E</code>).</p>
	<p class="fragment">Ale například pseudo-třídy jsou Emmetu k ničemu.</p>
	<p class="fragment">Více o CSS selektorech <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors" target="_blank">naleznete na MDN</a>.</p>
</section>

<section>
	<section>
		<h3>Třídy &amp; ID</h3>
		<p>Můžeme zřetězit více tříd:</p>
		<pre>
			<code>button.btn.btn-primary</code>
		</pre>
		<div class="fragment next next-close">
			<pre>
				<code><button class="btn btn-primary"></button></code>
			</pre>
		</div>

		<div class="fragment">
			<p>Nebo rovnou spojit ID i třídy dohromady:</p>
			<pre>
				<code>#main.container</code>
			</pre>
		</div>
		<div class="fragment next next-close">
			<pre>
				<code><div id="main" class="container"></div></code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Potomci &amp; sousedi</h3>
		<p>Child <code>&gt;</code>, sibling <code>+</code>, a navíc hezky uzávorkované:</p>
		<pre>
			<code>article.post>(.meta>h1+time)+.content>p</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code><article class="post">
  <div class="meta">
    <h1></h1>
    <time></time>
  </div>
  <div class="content">
    <p></p>
  </div>
</article></code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Násobení &amp; iterátor</h3>
		<p>Násobení <code>*</code> a aktuální číslo násobku pod <code>$</code>:</p>
		<pre>
			<code>ul>(li.item-$>a)*5</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code><ul>
  <li class="item-1"><a href=""></a></li>
  <li class="item-2"><a href=""></a></li>
  <li class="item-3"><a href=""></a></li>
  <li class="item-4"><a href=""></a></li>
  <li class="item-5"><a href=""></a></li>
</ul></code>
			</pre>
		</div>
	</section>
</section>

<section>
	<section>
		<h3>Atributy &amp; obsah tagu</h3>
		<p>
			Libovolné atributy v hranatých závorkách <code>[ ]</code>,<br>
			obsah tagu ve složených závorkách <code>{ }</code>.
		</p>
		<pre>
			<code>ul>(li>a[href="#" title="Stáhnout"]{Stáhnout soubor $})*5</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code><ul>
  <li><a href="#" title="Stáhnout">Stáhnout soubor 1</a></li>
  <li><a href="#" title="Stáhnout">Stáhnout soubor 2</a></li>
  <li><a href="#" title="Stáhnout">Stáhnout soubor 3</a></li>
  <li><a href="#" title="Stáhnout">Stáhnout soubor 4</a></li>
  <li><a href="#" title="Stáhnout">Stáhnout soubor 5</a></li>
</ul></code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Šplhání nahoru</h3>
		<p>Znakem stříšky <code>^</code> se dostaneme o úroveň výš.</p>
		<p>Například předchozí ukázka:</p>
		<pre>
			<code>article.post>(.meta>h1+time)+.content>p</code>
		</pre>
		<div class="fragment">
			<p>Je ekvivalentní s:</p>
			<pre>
				<code>article.post>.meta>h1+time^+.content>p</code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Vše dohromady</h3>
		<pre>
			<code>.row>(.col-sm-3>ul>li.active>a{Home}^+(li>a{$})*3)+.col-sm-9>h1+p</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code><div class="row">
  <div class="col-sm-3">
    <ul>
      <li class="active"><a href="">Home</a></li>
      <li><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <h1></h1>
    <p></p>
  </div>
</div></code>
			</pre>
		</div>
	</section>
	<section data-background="../../img/gifs/clap.gif"></section>
</section>

<section>
	<section>
		<h3>Další vymoženosti</h3>
		<p>Kromě vzorečků můžeme použít ještě další zkratky, například vykřičník (ekvivalent <code>html:5</code>):</p>
		<pre>
			<code>!</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  <meta charset="UTF-8">
  <title>Document</title>
&lt;/head&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;</code>
			</pre>
		</div>
	</section>
	<section>
		<h3>Lorem ipsum generátor</h3>
		<p>Zkratkou <code>lorem</code> vygenerujeme 30 slov výplňového textu rozloženého do několika vět.</p>
		<p class="fragment">Nebo číslem specifikujeme počet slov,<br> třeba <code>lorem126</code> pro 126 slov.</p>
	</section>
</section>


<section>
	<section>
		<h3>CSS zkratky</h3>
		<p>Jednoduší:</p>
		<pre>
			<code>ff    =>  font-family: ;
fl    =>  float: left;
fr    =>  float: right;
posr  =>  position: relative;
posa  =>  position: absolute;
db    =>  display: block;
ib    =>  display: inline-block;
c     =>  color: #000;
bgc   =>  background-color: #fff;
bgi   =>  background-image: url();
w100  =>  width: 100px;
w75p  =>  width: 75%;</code>
		</pre>
	</section>
	<section>
		<h3>CSS zkratky</h3>
		<p>Další příklady, více parametrů:</p>
		<pre>
			<code>m20-10   =>  margin: 20px 10px;
m15-a    =>  margin: 15px auto;
m-5--10  =>  margin: -5px -10px;
p2e10p   =>  padding: 2em 10%;
bgc#fea  =>  background-color: #fea;
ovv      =>  overflow: visible;
oh       =>  overflow: hidden;
td       =>  text-decoration: none;
ttu      =>  text-transform: uppercase;
tsh      =>  text-shadow: hoff voff blur #000;
lh2e!    =>  line-height: 2em !important;</code>
		</pre>
	</section>
</section>

<section>
	<p>Užitečné:</p>
	<p><a href="http://docs.emmet.io/cheat-sheet/" target="_blank">Emmet Cheat Sheet</a></p>
	<p><a href="http://docs.emmet.io/" target="_blank">Emmet Documentation</a></p>
	<p><a href="http://emper.cz/blog/emmet-zaklad-html-a-css//" target="_blank">Článek</a></p>
	<br>
	<h4 class="fragment">Konec. Díky.</h4>
</section>
