---
title: Sass preprocessor
description: Sass (Syntactically Awesome StyleSheets) is a style sheet language that is compiled into plain CSS.
layout: slides
theme: red
permalink: dokumenty/sass-en/
---
<section>
	<img class="plain img-top" src="../../img/slides/logo-sass-o.png" alt="" width="220"/>
	<!-- <h2>Sass</h2> -->
	<p>Syntactically Awesome StyleSheets<br>to improve the plain old CSS</p>
	<p></p>
</section>

<section>
	<section>
		<h3>What is Sass?</h3>
		<p><small>Extension of CSS that saves us time and makes stylesheets more managable.</small></p>
		<p class="fragment">Used to be a preprocessor that compiled special Sass/SCSS syntax into plain CSS.</p>
		<p class="fragment">Now is extended with scripting language (SassScript) that is interpreted or compiled into CSS.</p>
		<p class="fragment">SassScript provides: <strong>variables</strong>, <strong>nesting</strong>, <strong>conditions</strong>, <strong>loops</strong>, <strong>mixins</strong>, <strong>functions</strong>, and selector <strong>inheritance</strong>.</p>
	</section>
	<section>
		<h3>Sass vs. SCSS</h3>
		<p><small>Sass consists of two different syntaxes determined by filename extension (<em>.sass</em> or <em>.scss</em>).</small></p>
		<p><strong>Sass</strong> (the indented syntax):</p>
		<pre>
			<code>$primary-color: #e99838

.content
  padding: 20px
  border-color: $primary-color

  h1, h2
    color: darken($primary-color, 10%)
			</code>
		</pre>
		<p class="fragment">It uses tabs to separate code blocks<br>and newline to separate rules.</p>
	</section>
	<section>
		<h3>Sass vs. SCSS</h3>
		<p><strong>SCSS</strong> (more like CSS):</p>
		<pre>
			<code>$primary-color: #e99838;

.content {
  padding: 20px;
  border-color: $primary-color;

  h1, h2 {
    color: darken($primary-color, 10%);
  }
}
			</code>
		</pre>
		<p class="fragment">It uses block formatting just like CSS syntax.</p>
		<p class="fragment">All following examples will be in SCSS.</p>
	</section>
</section>

<section>
	<h3>1. Variables</h3>
	<p>All variables begins with symbol <code>$</code> (same in PHP).</p>
	<pre>
		<code>$primary-color: #e99838;
$link-color: darken($primary-color, 20%);
$default-border: 1px solid;

a {
  color: $link-color;
}
.container {
  margin: 50px;
  border: $default-border $primary-color;

  .row {
    $local-variable: 50px;

    padding: $local-variable / 2;
  }
}
		</code>
	</pre>
</section>

<section>
	<section>
		<h3>2. Nesting</h3>
		<p>Nesting elements as in previous examples:</p>
		<pre>
			<code>.header {
  .logo {
    padding: 10px;

    a {
      text-decoradion: none;
    }
  }
}
			</code>
		</pre>
		<div class="fragment next next-close">
			<pre>
				<code>.header .logo {
  padding: 10px;
}
.header .logo a {
  text-decoradion: none;
}
				</code>
			</pre>
		</div>
	</section>
	<section>
		<h3>2. Nesting</h3>
		<p><strong>Important notes:</strong></p>
		<ul>
			<li class="fragment">Nesting too deep may be comfortable, but it's bad
				<ul>
					<li class="fragment">Hard to read and orientate in the code</li>
					<li class="fragment">Very long CSS selectors slows down rendering</li>
					<li class="fragment">The rules are harder to overwrite</li>
				</ul>
				<p></p>
			</li>
			<li class="fragment"><p>Symbol <code>&</code> stands for the actual element</p>
				<pre class="fragment">
					<code>.menu-item {
  border-bottom: 1px solid $border-color;

  &:last-of-type {
    border-bottom: none;
  }
}</code>
				</pre>
			</li>
		</ul>
	</section>
</section>

<section>
	<h3>3. Conditions</h3>
	<p><small>Nothing surprising.</small></p>
	<pre>
		<code>$time: morning;

a {
  @if $time == morning {
    color: red;
  }
  @else if $time == afternoon {
    color: blue;
  }
  @else {
    color: grey;
  }
}</code>
	</pre>
</section>

<section>
	<section>
		<h3>4. Loops</h3>
		<p><small>Sass allows iterating in loop using @for, @each and @while</small></p>
		<p><strong>@for</strong></p>
		<pre>
			<code>@for $i from 1 through 10 {
  .menu-item-#{$i} {
    background: darken($primary-color, $i * 5);
  }
}</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code>.menu-item-1 {
  background: #e68c21;
}
.menu-item-2 {
  background: #d67f18;
}
...</code>
			</pre>
		</div>
	</section>
	<section>
		<h3>4. Loops</h3>
		<p><strong>@each</strong><br><small>For iterating over an array.</small></p>
		<pre>
			<code>$colours: rgb(255,255,255), // white
          rgb(255,0,0),     // red
          rgb(135,206,250), // sky blue
          rgb(255,255,0);   // yellow

@each $color in $colors {
  .menu-item-#{$i} {
    background-color: rgba($color, 0.6);

    &:hover {
      background-color: rgba($color, 1);
    }
  }
}</code>
		</pre>
	</section>
</section>

<section>
	<section>
		<h3>5. Mixins</h3>
		<p><small>Mixins are reusable groups of CSS rules that you want to use in different selectors.</small></p>
		<p class="fragment"><small>We can even pass in values to make mixins more flexible.</small></p>
		<pre class="fragment">
			<code>@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box {
  @include border-radius(10px);
}
			</code>
		</pre>
	</section>
	<section>
		<h3>5. Mixins</h3>
		<small>Another example:</small>
		<pre>
			<code>@mixin clear-btn($color) {
  color: $color;
  border: 2px solid $color;

  &:hover {
    color: #fff;
    background: $color;
  }
}

.clear-btn {
  padding: 12px 26px;
  background: transparent;

  @include transition(.38s);
  @include clear-btn($gray);

  &.blue { @include clear-btn($blue); }
  &.green { @include clear-btn($green); }
  &.red { @include clear-btn($red); }
}</code>
		</pre>
	</section>
</section>

<section>
	<section>
		<h3>6. Extend</h3>
		<p>Inheritance in Sass is achieved by <code>@extend</code> keyword<br>and a reference to another selector.</p>
		<pre>
			<code>.panel {
  padding: 20px;

  h4 {
    font-size: 1.6em;
  }
}

.error-panel {
  @extend .panel;
  background: lighten($error-color, 40%);

  h4 {
    color: $error-color;
  }
}</code>
		</pre>
	</section>
	<section>
		<pre>
			<code>.panel {
  padding: 20px;
  margin: 20px;
}
.panel.big {
  margin: 0;
}

.error-panel {
  @extend .panel;
  background: lighten($error-color, 40%);
}</code>
		</pre>
		<div class="fragment next">
			<pre>
				<code>.panel, .error-panel {
  padding: 20px;
  margin: 20px;
}
.panel.big, .big.error-panel {
  margin: 0;
}

.error-panel {
  background: #ffcccc;
}</code>
			</pre>
		</div>
	</section>
</section>

<section>
	<section>
		<h3>Sass vs. Less</h3>
		<table class="centered">
			<thead>
				<tr>
					<th><a href="https://en.wikipedia.org/wiki/Sass_(stylesheet_language)">Sass</a></th>
					<th><a href="https://en.wikipedia.org/wiki/Less_(stylesheet_language)">Less</a></th>
				</tr>
			</thead>
			<tbody>
				<tr class="fragment">
					<td>2006</td>
					<td>2009</td>
				</tr>
				<tr class="fragment">
					<td>Ruby</td>
					<td>NodeJS</td>
				</tr>
				<tr class="fragment">
					<td>66%</td>
					<td>14%</td>
				</tr>
				<tr class="fragment">
					<td>$</td>
					<td>@</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section>
		<h4>Less pros +</h4>
		<ul>
			<li class="fragment">Easy to learn</li>
			<li class="fragment">Still popular</li>
		</ul>
		<br><br><br>
		<h4 class="fragment">Less cons -</h4>
		<ul>
			<li class="fragment">Less features</li>
			<li class="fragment">No custom functions</li>
			<li class="fragment">Missing ternary operator</li>
			<li class="fragment">@..?</li>
		</ul>
	</section>
	<section>
		<h4>Sass pros +</h4>
		<ul>
			<li class="fragment">Powerful function features</li>
			<li class="fragment">Definitely more popular</li>
			<li class="fragment">Rapid development</li>
		</ul>
		<br><br><br>
		<h4 class="fragment">Sass cons -</h4>
		<ul>
			<li class="fragment">Two syntax confusion</li>
			<li class="fragment">Less easy to learn</li>
		</ul>
	</section>
</section>

<section>
	<p>Useful:</p>
	<p><a href="http://sass-lang.com/guide" target="_blank">Sass Guide</a></p>
	<p><a href="http://ricostacruz.com/cheatsheets/sass.html" target="_blank">Sass Cheatsheet</a></p>
	<p><a href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html" target="_blank">Sass Documentation</a></p>
	<p></p>
	<br>
	<h4 class="fragment">The end. Thanks.</h4>
</section>
