---
title: Já
description: O mně? Kontakt? Raději ne, pouze odkazy na sociální sítě.
layout: page
comments: false
permalink: ja/
---
<p>
  Nevím, řešte radši sami sebe, to bude lepší.
</p>

<p>
  Já všude možně:

  <ul class="clean-list">
    <li><a href="https://dribbble.com/Emper" target="_blank"><i class="icon-dribbble"></i>Dribbble.com</a></li>
    <!-- <li><a href="http://behance.net" target="_blank"><i class="icon-behance"></i>Behance.net</a></li> -->
    <li><a href="http://codepen.io/Empe/" target="_blank"><i class="icon-codepen"></i>Codepen.io</a></li>
    <li><a href="https://github.com/Emp3r" target="_blank"><i class="icon-github"></i>Github.com</a></li>
    <li><a href="https://gitlab.com/u/Emper" target="_blank"><i class="icon-gitlab"></i>Gitlab.com</a></li>
    <!-- <li><a href="https://www.linkedin.com" target="_blank"><i class="icon-linkedin"></i>Linkedin.com</a></li>
    <li><a href="https://www.youtube.com/channel/UCMVBBKnuYtprZql7ofkK7CA" target="_blank"><i class="icon-youtube"></i>Youtube.com</a></li> -->
    <li><a href="https://soundcloud.com/mr_ill" target="_blank"><i class="icon-soundcloud"></i>Soundcloud.com</a></li>
    <li><a href="http://www.last.fm/user/Emp3r" target="_blank"><i class="icon-lastfm"></i>Last.fm</a></li>
    <li><a href="http://steamcommunity.com/id/emp3rr" target="_blank"><i class="icon-steam"></i>Steam</a></li>
  </ul>

</p>
