---
title: Dokumenty
description: Dokumenty, prezentace (reveal.js - HTML slajdy), PDF a jiné materiály ze školních let.
layout: documents
permalink: dokumenty/
---

<p>
 Prezentace využívají
 <a href="https://github.com/hakimel/reveal.js/" target="_blank">reveal.js</a>,
 framework pro rychlou tvorbu HTML prezentací.
</p>
