<% if (page.path !== 'index.html' &&
       page.layout !== 'page' &&
       page.path !== 'blog/index.html') { %>

	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57deb54130ff9a6c"></script>

<% } %>
