<article class="<%= item.layout %>">
  <% if (item.photos && item.photos.length){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="post-content">
    <header>
      <% if (item.layout != 'page'){ %>
        <time datetime="<%= item.date.toDate().toISOString() %>">
          <%= item.date.format(config.date_format) %>
        </time>
      <% } %>
      <%- partial('post/title') %>
    </header>
    <div class="entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
    <% if (!index) { %>
      <footer>
        <%- partial('post/tag') %>
        <%- partial('post/share') %>
        <div class="clearfix"></div>
      </footer>
    <% } %>
  </div>
</article>

<% if (comments) { %>
  <%- partial('comment') %>
<% } %>
