<% if (page.comments){ %>
<section id="comment">

  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function(){
  this.page.url = "http://emper.cz";
  this.page.identifier = "<%= page.path %>";
  };
  (function(){
    var d = document, s = d.createElement('script');
    s.src = '//emper.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Zapněte prosím Javascript pro zobrazení <a href="https://disqus.com/?ref_noscript">komentářů (Disqus)</a>.</noscript>

</section>
<% } %>
