<footer id="footer">
  <div class="inner">

    <div class="right">
      <ul class="flat-list">
        <li><a href="https://github.com/Emp3r" target="_blank"><i class="icon-github"></i></a></li>
        <li><a href="http://codepen.io/Empe_/" target="_blank"><i class="icon-codepen"></i></a></li>
        <li><a href="https://dribbble.com/Emper" target="_blank"><i class="icon-dribbble"></i></a></li>
        <!-- <li><a href="" target="_blank"><i class="icon-linkedin"></i></a></li> -->
      </ul>
    </div>

    <div class="left">
      <i class="icon-copyright"></i>
      <%= new Date().getFullYear() %> emper.cz
    </div>

  </div>
</footer>
