<header id="header">
  <div class="inner">

    <nav class="main-nav">
      <ul>
        <li>
          <a href="<%- config.url %>"><i class="icon-home"></i></a>
        </li>
        <% for (var i in theme.menu) { %>
          <%
            if (page.layout == "post") { page.menu = "Blog"; }
          %>
          <li>
            <% if (i == page.title || (page.menu && page.menu == i)) { %>
              <a href="<%- config.url %><%- config.root %><%- theme.menu[i] %>/" class="<%- theme.menu[i] %> active"><%= i %></a>
            <% } else if (i == "Blog" && page.path.match(/^blog\//)) { %>
              <a href="<%- config.url %><%- config.root %><%- theme.menu[i] %>/" class="<%- theme.menu[i] %> active"><%= i %></a>
            <% } else { %>
              <a href="<%- config.url %><%- config.root %><%- theme.menu[i] %>/" class="<%- theme.menu[i] %>"><%= i %></a>
            <% } %>
          </li>
        <% } %>
      </ul>
    </nav>

    <div class="right">
      <!-- <i class="icon-logo"></i> -->
    </div>

    <div class="clearfix"></div>
  </div>
</header>
