@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

body {
  background: #222;
  background-color: #222; }

.reveal {
  font-family: Ubuntu, "sans-serif";
  font-size: 36px;
  font-weight: normal;
  color: #eee; }

::selection {
  color: #fff;
  background: #444;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

.reveal h1, .reveal h2, .reveal h3,
.reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 35px 0;
  color: #eee;
  font-family: Ubuntu, "sans-serif";
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #222;
  word-wrap: break-word; }

.reveal h1 { font-size: 3.77em; }
.reveal h2 { font-size: 2.11em; }
.reveal h3 { font-size: 1.55em; }
.reveal h4 { font-size: 1em; }
.reveal h1 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.reveal p {
  margin: 30px 0;
  line-height: 1.3; }

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square;
  font-size: 80%;
  margin-top: 5px; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: -30px auto -20px;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word; }

.reveal code {
  display: inline-block;
  background: #3b3b3b !important;
  padding: 2px 8px;
  margin: 0 2px;
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 13px 20px;
  overflow: auto;
  font-family: monospace;
  word-wrap: normal; }

.reveal .fragment.next {
  padding-top: 64px;
  position: relative;
}
.reveal .fragment.next:before,
.reveal .fragment.next:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  width: 0;
  height: 0;
}
.reveal .fragment.next:before {
  top: 8px;
  background-color: transparent;
  border: 12px solid transparent;
  border-top-width: 22px;
  border-top-color: #666;
}
.reveal .fragment.next:after {
  top: 2px;
  border: 4px solid #666;
}
.reveal .fragment.next.next-close {
  padding-top: 44px;
}
.reveal .fragment.next.next-close:before {
  top: -2px;
}
.reveal .fragment.next.next-close:after {
  top: -10px;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal .centered th,
.reveal .centered td {
  padding: 0.2em 3em;
  text-align: center;
}

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

.reveal a {
  color: #e0e0e0;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #fafafa;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #888; }

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  background: transparent;
  border: 0;
  box-shadow: none; }
.reveal section img.img-top {
  margin-top: -10px; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e0e0e0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #e0e0e0; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #e0e0e0; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #e0e0e0; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #e0e0e0; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #fafafa; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #fafafa; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #fafafa; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #fafafa; }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #e0e0e0;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal p {
  font-weight: 300;
  text-shadow: 1px 1px #222; }

.reveal h1, .reveal h2,
.reveal h3, .reveal h4,
.reveal h5, .reveal h6 {
  font-weight: 700; }

.reveal p code {
  background-color: #23241f;
  display: inline-block;
  border-radius: 7px; }

.reveal small code {
  vertical-align: baseline; }
