<% if (site.data.slides.length && page.path == "index.html"){ %>

<div class="widget tag">
  <h3 class="title"><%= __('slides') %></h3>
  <ul class="entry">
    <% for (item in site.data.slides) { %>
      <% var slide = site.data.slides[item]; %>
      <li>
        <a href="<%- config.url %><%- config.root %>dokumenty/<%= slide.dir %>">
          <%= slide.title %>
        </a>
      </li>
    <% } %>
  </ul>
</div>


<% } %>
