<% if (site.data.generators.length &&
       (page.layout == "generator" ||
        page.path == "index.html")){ %>

<div class="widget tag">
  <h3 class="title"><%= __('generators') %></h3>
  <ul class="entry">
    <% for (item in site.data.generators) { %>
      <% var gen = site.data.generators[item]; %>
      <li>
        <a href="<%- config.url %><%- config.root %>generatory/<%= gen.dir %>">
          <%= gen.title %>
        </a>
      </li>
    <% } %>
  </ul>
</div>


<% } %>
