<% if (page.path == "index.html"){ %>
<div class="widget tag">
  <h3 class="title">
    Web o webu
  </h3>
  <p class="entry">
    Postřehy z web designu a web vývoje, nebo tak nějak. Články, návody, prezentace, učební materiály a&nbsp;další zbytečnosti. Enjoy.
  </p>
</div>
<% } %>
