<% if (site.tags.length &&
       (page.layout == "post" ||
        page.path.match(/^blog\//) ||
        page.path.match(/^tagy\//) )){ %>
<div class="widget tag">
  <h3 class="title"><%= __('tags') %></h3>
  <ul class="entry">
  <% site.tags.sort('name').each(function(item){ %>
    <li><a href="<%- config.url %><%- config.root %><%- item.path %>"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% }); %>
  </ul>
</div>
<% } %>
