::selection {
  background: #5a3; }

.reveal a {
  color: #5a3; }

.reveal a:hover {
  color: #78d454; }

.reveal a:hover img {
  border-color: #5a3; }

.reveal .roll span:after {
  background: #408027; }

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #5a3; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #5a3; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #5a3; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #5a3; }

.reveal .progress span {
  background: #5a3; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #78d454; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #78d454; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #78d454; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #78d454; }
