::selection {
  background: #c24; }

.reveal a {
  color: #c24; }

.reveal a:hover {
  color: #e33d57; }

.reveal a:hover img {
  border-color: #c24; }

.reveal .roll span:after {
  background: #92172c; }

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #c24; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #c24; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #c24; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #c24; }

.reveal .progress span {
  background: #c24; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #e33d57; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #e33d57; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #e33d57; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #e33d57; }
