---
title: Editor RGB/HEX barev
description: Online vygenerování bezpečného hesla, nebo rovnou několik hesel naráz a s prefixem.
layout: generator
menu: Generátory
permalink: generatory/barvy/
---
<div class="generator">
  <div class="block with-blocks">
    <label for="hex"> Barva v HEX: </label>
    <input type="text" class="inp" id="hex" value="" placeholder="#000000" autofocus="">
    <label for="rgb"> Barva v RGB: </label>
    <input type="text" class="inp" id="rgb" value="" placeholder="rgb(0,0,0)">
  </div>
  <div class="block block-big">
    <br>
    <input type="radio" name="format" id="light" value="light" checked=""> <label for="light"> Zesvětlit</label><br>
    <input type="radio" name="format" id="dark" value="dark"> <label for="dark"> Ztmavit</label><br>
    <input type="radio" name="format" id="blend" value="blend"> <label for="blend"> Smíchat s barvou</label>
    <input type="text" class="inp fading" id="color" value="" placeholder="#000000" style="opacity:0"><br>
    <br>
    <label>Jak moc: <span id="percent" class="fat">50</span><span class="fat">%</span></label><br>
    <input type="range" min="0" max="100" step="1" value="50" style="width:100%" oninput="refreshPercents(this.value)" onchange="refreshPercents(this.value)">
  </div>
  <div class="clearfix"></div>
  <div>
    <br>
    <button class="btn">Vypočítej</button>
  </div>
  <h3>Výsledek: <span class="out_t fat">#000000</span><span class="out_c" style="display:inline-block;width:26px;height:26px;margin:0 6px;position:absolute;"></span></h3>
  <div class="output"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  function shadeBlendConvert(p, from, to){
    if(typeof(p)!="number"||p<-1||p>1||typeof(from)!="string"||(from[0]!='r'&&from[0]!='#')||(typeof(to)!="string"&&typeof(to)!="undefined"))return null; //ErrorCheck
    if(!this.sbcRip)this.sbcRip=function(d){
      var l=d.length,RGB=new Object();
      if(l>9){
        d=d.split(",");
        if(d.length<3||d.length>4)return null;//ErrorCheck
        RGB[0]=i(d[0].slice(4)),RGB[1]=i(d[1]),RGB[2]=i(d[2]),RGB[3]=d[3]?parseFloat(d[3]):-1;
      }else{
        if(l==8||l==6||l<4)return null; //ErrorCheck
        if(l<6)d="#"+d[1]+d[1]+d[2]+d[2]+d[3]+d[3]+(l>4?d[4]+""+d[4]:""); //3 digit
        d=i(d.slice(1),16),RGB[0]=d>>16&255,RGB[1]=d>>8&255,RGB[2]=d&255,RGB[3]=l==9||l==5?r(((d>>24&255)/255)*10000)/10000:-1;
      }
      return RGB;}
    var i=parseInt,r=Math.round,h=from.length>9,h=typeof(to)=="string"?to.length>9?true:to=="c"?!h:false:h,b=p<0,p=b?p*-1:p,to=to&&to!="c"?to:b?"#000000":"#FFFFFF",f=sbcRip(from),t=sbcRip(to);
    if(!f||!t)return null; //ErrorCheck
    if(h)return "rgb("+r((t[0]-f[0])*p+f[0])+","+r((t[1]-f[1])*p+f[1])+","+r((t[2]-f[2])*p+f[2])+(f[3]<0&&t[3]<0?")":","+(f[3]>-1&&t[3]>-1?r(((t[3]-f[3])*p+f[3])*10000)/10000:t[3]<0?f[3]:t[3])+")");
    else return "#"+(0x100000000+(f[3]>-1&&t[3]>-1?r(((t[3]-f[3])*p+f[3])*255):t[3]>-1?r(t[3]*255):f[3]>-1?r(f[3]*255):255)*0x1000000+r((t[0]-f[0])*p+f[0])*0x10000+r((t[1]-f[1])*p+f[1])*0x100+r((t[2]-f[2])*p+f[2])).toString(16).slice(f[3]>-1||t[3]>-1?1:3);
  }
  function refreshPercents(val) {
    document.getElementById("percent").textContent = val;
  }
  (function($) {
    function convert(idFrom, idTo) {
      var color = $(idFrom).val();
      var out = $(idTo);
      if (color.trim()) out.val(shadeBlendConvert(0, color, 'c'));
      if (out.val()) out.attr('placeholder', '');
    }
    $('#hex').on('blur', function() {
      if (!$(this).val().startsWith('#')) $(this).val('#' + $(this).val());
      convert('#hex', '#rgb');
      if (!$(this).val()) $(this).attr('placeholder', '#000000');
    });
    $('#rgb').on('blur', function() {
      if (!$(this).val().startsWith('rgb')) $(this).val('rgb(' + $(this).val());
      convert('#rgb', '#hex');
      if (!$(this).val()) $(this).attr('placeholder', 'rgb(0,0,0)');
    });
    $('input[name=format]').on('change', function() {
      if ($('input[name=format]:checked').val() == 'blend')
        $('#color').css('opacity', '1');
      else
        $('#color').css('opacity', '0');
    });
    $('.btn').click(function(){
      var color = $("#hex").val();
      var format = $('input[name=format]:checked').val();
      var percent = parseInt($('#percent').text(), 10);
      var result;

      if (!color) color = $("#rgb").val();
      if (format == "dark") percent /= -100.0;
      else percent /= 100.0;
      if (format != "blend") result = shadeBlendConvert(percent, color);
      else result = shadeBlendConvert(percent, color, $("#color").val());

      if (result) {
        $(".out_t").text(result.toUpperCase());
        $(".out_c").css('background', result);
      } else {
        $(".out_t").text("Nastala chyba, zadej barvu ve správném formátu");
        $(".out_c").css('background', 'transparent');
      }
    });
    $(document).keypress(function(e) {
      if (e.which == 13) {
        $('#hex').trigger('blur');
        $('.btn').trigger('click');
      }
    });
  }(jQuery));
</script>
