---
title: Čítač slov a znaků
description: Nástroj, který počítá znaky, slova, věty a mezery v předaném textu.
layout: generator
menu: Generátory
permalink: generatory/citac-slov-a-znaku/
---
<div class="generator">
  <div class="block-full with-blocks">
    <label for="t"> Napište nebo vložte text: </label>
    <textarea class="inp" id="t" rows="9" autofocus=""></textarea>
  </div>
  <div class="output-line">
    <span class="val">Znaků: <strong class="letters">0</strong></span>
    <span class="val">Slov: <strong class="words">0</strong></span>
    <span class="val">Vět: <strong class="sentences">0</strong></span>
    <span class="val">Mezer: <strong class="spaces">0</strong></span>
  </div>
  <h2>Známé limity:</h2>
  <div class="output" style="margin:15px 0 40px">
    <ul>
      <li>HTML Title Tag: <strong>ideálně pod 55</strong> (maximálně 64)</li>
      <li>HTML Meta Description: <strong>ideálně pod 155</strong></li>
      <li>HTML title atribut (&lt;div title="text"&gt;): <strong>512</strong></li>
      <li>Facebook status: <strong>63 206</strong> (zobrazeno 400)</li>
      <li>Twitter tweet: <strong>140</strong></li>
      <li>Snapchat: <strong>80</strong></li>
      <li>LinkedIn text: <strong>2 000</strong></li>
      <li>SMS text: <strong>160</strong></li>
    </ul>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  (function($) {
    $('.inp').bind('input propertychange', function(){
      var text = $('#t').val();
      var trimmed = text.trim();
      trimmed = trimmed.replace(/(\.+)|(\?+)|(!+)/g, '.');
      var words = trimmed.split(/\s+/).length;
      var sentences = trimmed.split(/\./).length;
      var spaces = text.match(/\s/g);

      if (!/\S/.test(trimmed)) {
        words = 0;
        sentences = 0;
      }
      else if (/\.$/.test(trimmed)) {
        sentences--;
      }
      $('.letters').text(text.length);
      $('.words').text(words);
      $('.sentences').text(sentences);
      $('.spaces').text(!spaces ? 0 : spaces.length);
    });
  }(jQuery));
</script>
