---
title: Generátor hesel
description: Online vygenerování bezpečného hesla, nebo rovnou několik hesel naráz a s prefixem.
layout: generator
menu: Generátory
permalink: generatory/hesla/
---
<div class="generator">
  <div class="block with-blocks">
    <label for="n"> Počet znaků: </label>
    <input type="number" class="inp" id="n" value="8" autofocus="">
    <label for="q"> Počet hesel: </label>
    <input type="number" class="inp" id="q" value="4">
    <label for="p"> Prefix: </label>
    <input type="text" class="inp" id="p" value="">
  </div>
  <div class="block">
    <input type="checkbox" id="f_l" checked="">
    <label for="f_l"> Malá písmena</label><br>
    <input type="checkbox" id="f_u" checked="">
    <label for="f_u"> Velká písmena</label><br>
    <input type="checkbox" id="f_n" checked="">
    <label for="f_n"> Číslice</label><br>
    <input type="checkbox" id="f_s">
    <label for="f_s"> Speciální znaky</label><br>
  </div>
  <div class="block">
    <button class="btn">Vygeneruj</button>
  </div>
  <div class="clearfix"></div>
  <h2>Výsledek:</h2>
  <div class="output">
    <div id="pass"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>!function(e){function r(e,o){var n,a,s=new Uint8Array(o);t(s);for(n in s)if(s.hasOwnProperty(n)&&(a=s[n],a>e&&o>a))return a;return r(e,o)}function t(r){if(e.crypto&&e.crypto.getRandomValues)e.crypto.getRandomValues(r);else if("object"==typeof e.msCrypto&&"function"==typeof e.msCrypto.getRandomValues)e.msCrypto.getRandomValues(r);else{if(module.exports!==s||"undefined"==typeof require)throw new Error("No secure random number generator available.");var t=require("crypto").randomBytes(r.length);r.set(t)}}var o,n,a,s,u;a=/[a-zA-Z]$/,u=/[aeiouAEIOU]$/,n=/[bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ]$/,o=e.localPasswordGeneratorLibraryName||"generatePassword",s=function(e,t,o,a){var s,l,d="",i=[];if(null==e&&(e=10),null==t&&(t=!0),null==o&&(o=/\w/),null==a&&(a=""),!t){for(l=33;126>l;l+=1)d=String.fromCharCode(l),d.match(o)&&i.push(d);if(!i.length)throw new Error("Could not find characters that match the password pattern "+o+". Patterns must match individual characters, not the password as a whole.")}for(;a.length<e;)t?(o=a.match(n)?u:n,s=r(33,126),d=String.fromCharCode(s)):d=i[r(0,i.length)],t&&(d=d.toLowerCase()),d.match(o)&&(a=""+a+d);return a},("undefined"!=typeof exports?exports:e)[o]=s,"undefined"!=typeof exports&&"undefined"!=typeof module&&module.exports&&(module.exports=s)}(this);</script>
<script>
  (function($) {
    $('.btn').click(function(){
      var characters = $('#n').val();
      var quantity = $('#q').val();
      var prefix = $('#p').val();
      var lowercase = $('#f_l').is(':checked') ? 'a-z' : '';
      var uppercase = $('#f_u').is(':checked') ? 'A-Z' : '';
      var numbers = $('#f_n').is(':checked') ? '\\d' : '';
      var specials = $('#f_s').is(':checked') ? '-_+@#*?%&$' : '';
      var reg = new RegExp('[' + lowercase + uppercase + numbers + specials + ']');
      $('#pass').html('');

      for (var i = 0, password; i < quantity; i++) {
        password = generatePassword(characters, false, reg, prefix);
        $('#pass').append('<p style="margin-top:10px">' + password + '</p>');
      }
    });
    $(document).keypress(function(e) {
      if (e.which == 13)
        $('.btn').trigger('click');
    });
    $('.btn').trigger('click');
  }(jQuery));
</script>
