---
title: Lorem ipsum generátor
description: Rychlý generátor výplňového textu, zvolte, kolik chcete odstavců, vět, slov nebo znaků.
layout: generator
menu: Generátory
permalink: generatory/lorem-ipsum/
---
<div class="generator">
  <div class="block with-blocks">
    <label for="n"> Počet: </label>
    <input type="number" class="inp" id="n" value="4" autofocus="">
  </div>
  <div class="block">
    <input type="radio" name="form" value="p" id="f_p" checked="">
    <label for="f_p"> Odstavce</label><br>
    <input type="radio" name="form" value="s" id="f_s">
    <label for="f_s"> Věty</label><br>
    <input type="radio" name="form" value="w" id="f_w">
    <label for="f_w"> Slova</label><br>
    <input type="radio" name="form" value="c" id="f_c">
    <label for="f_c"> Znaky</label><br>
  </div>
  <div class="block">
    <button class="btn">Vygeneruj</button>
  </div>
  <div class="clearfix"></div>
  <h2>Výsledek:</h2>
  <div class="output">
    <div id="lorem" class="lorem_p4"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>!function(t){if("function"==typeof require&&"object"==typeof exports&&"object"==typeof module){var e;try{e=require("jquery")}catch(r){}t(e,exports)}else"function"==typeof define&&define.amd?define(["jquery","exports"],t):t(jQuery,this.lorem={})}(function(t,e){function r(t,e){for(var r=t.split(e),i=[],n=0;n<r.length;n++){var a=r[n];a.length>0&&i.push(a.toLowerCase())}return i}function i(t){return t.charAt(0).toUpperCase()+t.slice(1)}function n(t,e){return Math.round(Math.random()*(e-t)+t)}function a(t,e){for(var r=[],i=0;e>i;i++)r.push(t());return r}function s(t,e){var r=t.indexOf("_");0>r&&(r=t.length);var i=parseInt(t.substr(1,r),10);return!isNaN(i)&&i>0?i:e}function u(t,e,r){var i=t.indexOf("_"),n={left:e,right:r};if(i>-1){var a=t.indexOf("x");a>-1?(n.left=parseInt(t.substr(i+1,a),10)||n.left,n.right=parseInt(t.substr(a+1),10)||n.right):n.right=n.left=parseInt(t.substr(i+1),10)||n.left}return n}function o(t){var e=t.indexOf("$");if(e>-1){var r=parseInt(t.substr(e+1),10);if(!isNaN(r)&&r>0)return r}return-1}function l(t,e,r){return e.concat(t.join(r.concat(e))).concat(r)}function f(t){var r=e.defaults();return c(r,t),r}function c(t,e){if(e){for(var i in e)t[i]=e[i];if(e.hasOwnProperty("text")&&(t._tokens=r(t.text,t.wordDelimiter),t._tokens.length<1))throw new Error("Tokenization of text must provide at least one token")}}function m(t,e){var r=e.numberOfSentencesPerParagraph,f=e.numberOfWordsPerSentence,c=function(){var t=e._tokens,r=t.length;return function(){return t[n(0,r-1)]}}(),m=function(t,e){return e>-1?t.substr(0,e):t},d=t.substr(0,e.prefix.length)===e.prefix?t.substr(e.prefix.length):t,p={attributes:{}};switch(d[0]){case"p":var h=s(d,1),v=u(d,r.min,r.max),b=function(){return i(a(c,n(f.min,f.max)).join(" ").concat("."))},x=function(){return a(b,n(v.left,v.right)).join(" ")};p.html=l(a(x,h),"<p>","</p>");break;case"s":var g=s(d,1),A=u(d,f.min,f.max),q=o(d),k=function(){return i(a(c,n(A.left,A.right)).join(" ").concat("."))};p.html=m(a(k,g).join(" "),q);break;case"w":var O=s(d,1),w=o(d);p.html=m(a(c,O).join(" "),w);break;case"i":var j=d.indexOf("x");if(j>-1){var I=parseInt(d.substr(1,j),10),y=parseInt(d.substr(j+1),10);if(!isNaN(I)&&!isNaN(y)){var C=p.attributes;e.useOfflineImage?(C.src=e.offlineImage,C.width=I,C.height=y):C.src=e.imageURL.replace("${w}",I).replace("${h}",y)}}}return p}function d(t,e){var r=t.attr("class");if(r){r=r.split(" ");for(var i=0,n=e.length;i<r.length;i++){var a=r[i];if(a.substr(0,n)===e)return a}}}function p(e,r){var i=e.attr("data-"+r.dataAttribute)||d(e,r.prefix);if(i){var n=m(i,r);n.html&&e[e.is("input")?"val":"html"](n.html),t.isEmptyObject(n.attributes)||e.attr(n.attributes),r.markerClass&&!e.hasClass(r.markerClass)&&e.addClass(r.markerClass)}}var h={text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.",wordDelimiter:/\s|[,.]/,numberOfSentencesPerParagraph:{min:4,max:7},numberOfWordsPerSentence:{min:4,max:9},imageURL:"http://placehold.it/${w}x${h}",offlineImage:"data:image/gif;base64,R0lGODdhAQABAIABAMzMzP///ywAAAAAAQABAAACAkQBADs=",useOfflineImage:!1,prefix:"lorem_",markerClass:"lorem-marker",dataAttribute:"lorem"};h._tokens=r(h.text,h.wordDelimiter),e.defaults=function(){var t={};for(var e in h)t[e]=h[e];return t},e.overrideDefaults=function(t){c(h,t)},e.ipsum=function(t,e){var r=m(t,f(e));if(r){if(r.attributes.src)return r.attributes.src;if(r.html)return r.html}},t&&(t.fn.ipsum=function(e){var r=f(e);return this.each(function(){var e=t(this),i=t('[class*="'+r.prefix+'"],[data-'+r.dataAttribute+"]",e);p(e,r),i.each(function(e,i){p(t(i),r)})})})});</script>
<script>
  (function($) {
    $('.btn').click(function(){
      var number = $('#n').val();
      var form = $('input[name=form]:checked').val();
      $('#lorem').removeClass();

      if (form !== 'c') $('#lorem').addClass('lorem_' + form + number);
      else $('#lorem').addClass('lorem_s999$' + number);

      $('#lorem').ipsum();
    });
    $(document).keypress(function(e) {
      if (e.which == 13)
        $('.btn').trigger('click');
    });
    $('#lorem').ipsum();
  }(jQuery));
</script>
